body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1 {
    color: darkgrey;
    font-size: 20px;
    height: 45px;
    border-bottom: 6px solid #AACE9B;
    width: 1085px;
}

h2, h3 {
    color: #373867;
}

.menu {
    display: none;
}

footer {
    text-align: center;
    position: relative;
    right: 200px;
    top: 50px;
}

footer > img {
    width: 30px;
    margin-left: 15px;
}

.pag-pral {
    margin-top: 70px;
}

.intro {
    color: gray;
}

.subtitle {
    font-size: 20px;
}

.gym {
    position: relative;
    left: 600px;
    width: 450px;
    top: -430px;
}

.form {
    color: #373867;     
    background-color: #AACE9B;     
    border: none;     
    border-radius: 5px;     
    height: 50px;     
    width: 150px;    
    margin-top: 20px;
}

.app {
    margin-top: -320px;
    margin-bottom: 70px;
    width: 150px;
    height: 50px;
    border-bottom: 6px solid #AACE9B;
}

.box-2 {
    display: inline;
}

.content {
    display: inline-block;
    width: 550px;
}

.text-content {
    display: inline-block;
    width: 300px;
    height: 250px;
    position: relative;
    top: 50px;
    left: 15px;
}

.text {
    width: 500px;
    margin-top: 100px;
    color: darkgrey;
}

.social-media {
    position: relative;
    left: 830px;
    top: -70px;  
}

.social-media img {
    width: 30px;
    margin-left: 15px;
}

.cont {
    margin-bottom: 40px;
    margin-top: 100px;
}

.my-form {
    padding: 20px;
    display: inline;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
} 

.my-form input {
    padding: 8px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;

}  

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 900px;
    height: 200px;
} 

.data {
    margin-top: 100px;
}

.data-2 {
    position: relative;
    left: 380px;
    top: -68px;
}

.data-3 {
    position: relative;
    left: 750px;
    top: -138px;
}

.data-4 {
    position: relative;
    top: -120px;
}

.data-4 > input {
    width: 500px;
}

.data-5 {
    position: relative;
    top: -88px;
} 

.cl {
    border-radius: 5px;
    height: 30px;     
    width: 130px; 
}

.send {
    color: #373867;   
    background-color: #AACE9B;     
    border: none;     
    border-radius: 5px;     
    height: 30px;     
    width: 130px; 
    position: relative;
    left: 100px;    
}

.history {
    margin-top: 100px;
}

.paragraph {
    border-left: 3px solid black;
    font-size: 16px;
    width: 1080px;
    padding: 10px;
}

.box-3 {
    display: inline-block
}

.text-origin {
    width: 500px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.img-origin {
    width: 500px;
    margin-top: 25px;
}

.box-4 {
    display: inline-block;
    width: 500px;
    margin-left: 50px;
}

.title-m {
    border-bottom: 2px solid black;
    line-height: 20px;
    padding-bottom: 28px;
}

.txt-m {
    width: 500px;
}

.img-m {
    width: 500px;
    padding-bottom: 35px;
}

.box-5 {
    margin-top: 45px;
    display: inline;
}

.list-2 {
    display: inline-block;
    width: 550px;
}

.text-list {
    display: inline-block;
    width: 202px;
    height: 251px;
    position: relative;
    top: -11px;
    left: 24px;
}

.pages {  
    text-align: center;
    position: relative;
    right: 200px;
}

.pages > button{     
    color: #AACE9B;     
    border-color: #AACE9B;     
    background-color: #ffffff;     
    border-radius: 10px;     
    height: 40px;     
    width: 60px;     
    margin-left: 15px; 
}

.b-memb {
    position: relative;
    right: 45px;
    top: 70px;
}

.line {
    margin-top: 30px;
    border-bottom: 6px solid #AACE9B;
    width: 1085px;
}